In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('GS.csv')
df.head()

         Date     Open    High      Low    Close  Adj Close    Volume
0  1999-05-04  76.0000  77.250  70.0000  70.3750  53.576797  22320900
1  1999-05-05  69.8750  69.875  66.2500  69.1250  52.625153   7565700
2  1999-05-06  68.0000  69.375  67.0625  67.9375  51.721100   2905700
3  1999-05-07  67.9375  74.875  66.7500  74.1250  56.431648   4862300
4  1999-05-10  73.3750  73.500  70.2500  70.6875  53.814709   2589400

In [4]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
5757,2022-03-18,338.869995,346.769989,337.299988,345.380005,345.380005,5861100
5758,2022-03-21,345.260010,346.299988,337.149994,339.000000,339.000000,3401200
5759,2022-03-22,342.200012,346.239990,340.119995,343.010010,343.010010,2840200
5760,2022-03-23,340.000000,340.829987,335.130005,335.609985,335.609985,2196800
5761,2022-03-24,336.440002,337.500000,334.299988,336.230011,336.230011,1943600

### March 2021- March 2022 Analysis

In [5]:
df = df[df["Date"] > '2021-03-24']
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
5509,2021-03-25,327.350006,331.390015,321.920013,330.549988,324.212219,2804700
5510,2021-03-26,334.510010,335.450012,322.690002,327.390015,321.112854,3082600
5511,2021-03-29,320.350006,327.760010,317.720001,325.730011,319.484680,4533200
5512,2021-03-30,329.410004,335.750000,328.850006,332.010010,325.644226,2717300
5513,2021-03-31,330.230011,332.649994,325.440002,327.000000,320.730286,2624500

In [7]:
len(df)

253

In [8]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,374.632411,378.594308,370.180673,374.452135,370.066906,2.782863e+06
std,26.795174,26.470466,26.682720,26.394124,26.125058,1.304719e+06
min,320.350006,327.760010,317.720001,321.369995,317.336639,1.160100e+06
25%,353.250000,359.140015,348.549988,354.399994,349.093872,2.061700e+06
50%,377.029999,381.309998,372.500000,375.899994,371.561707,2.508100e+06
75%,396.320007,400.549988,390.910004,396.160004,391.771027,3.235000e+06
max,423.119995,426.160004,413.760010,423.850006,419.154236,1.312350e+07

In [16]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64